<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>badgeCount</key>
		<string>+99</string>
		<key>name</key>
		<string>Dashboard</string>
		<key>image</key>
		<string>dashboard</string>
		<key>isClient</key>
		<true/>
		<key>isVendor</key>
		<true/>
		<key>storyboard</key>
		<string>Dashboard</string>
		<key>class</key>
		<string>TQDashboardVC</string>
		<key>fontColor</key>
		<string>#404041</string>
	</dict>
	<dict>
		<key>badgeCount</key>
		<string>0</string>
		<key>name</key>
		<string>Analytics</string>
		<key>image</key>
		<string>analytics</string>
		<key>isClient</key>
		<false/>
		<key>isVendor</key>
		<true/>
		<key>storyboard</key>
		<string>Analytics</string>
		<key>class</key>
		<string>TQAnalyticsVC</string>
		<key>fontColor</key>
		<string>#404041</string>
	</dict>
	<dict>
		<key>badgeCount</key>
		<string>0</string>
		<key>name</key>
		<string>Inquiries</string>
		<key>image</key>
		<string>inquiries</string>
		<key>isClient</key>
		<true/>
		<key>isVendor</key>
		<true/>
		<key>storyboard</key>
		<string>Inquiries</string>
		<key>class</key>
		<string>TQInquiriesListController</string>
		<key>fontColor</key>
		<string>#404041</string>
	</dict>
	<dict>
		<key>badgeCount</key>
		<string>0</string>
		<key>name</key>
		<string>Quotes</string>
		<key>image</key>
		<string>quotes</string>
		<key>isClient</key>
		<true/>
		<key>isVendor</key>
		<true/>
		<key>storyboard</key>
		<string>Quotes</string>
		<key>class</key>
		<string>TQQuotesListVC</string>
		<key>fontColor</key>
		<string>#404041</string>
	</dict>
	<dict>
		<key>badgeCount</key>
		<string>0</string>
		<key>name</key>
		<string>Messages</string>
		<key>image</key>
		<string>messages</string>
		<key>isClient</key>
		<true/>
		<key>isVendor</key>
		<true/>
		<key>storyboard</key>
		<string>Messages</string>
		<key>class</key>
		<string>TQMessagesListVC</string>
		<key>fontColor</key>
		<string>#404041</string>
	</dict>
	<dict>
		<key>badgeCount</key>
		<string>0</string>
		<key>name</key>
		<string>Calendar</string>
		<key>image</key>
		<string>calendar</string>
		<key>isClient</key>
		<true/>
		<key>isVendor</key>
		<true/>
		<key>storyboard</key>
		<string>Quotes</string>
		<key>class</key>
		<string>TQCalendarViewController</string>
		<key>fontColor</key>
		<string>#404041</string>
	</dict>
	<dict>
		<key>badgeCount</key>
		<string>0</string>
		<key>name</key>
		<string>Activity Stream</string>
		<key>image</key>
		<string>activityStream</string>
		<key>isClient</key>
		<false/>
		<key>isVendor</key>
		<true/>
		<key>storyboard</key>
		<string>Main</string>
		<key>class</key>
		<string>TQUnderConstructionVC</string>
		<key>fontColor</key>
		<string>#404041</string>
	</dict>
	<dict>
		<key>badgeCount</key>
		<string>0</string>
		<key>name</key>
		<string>Clients</string>
		<key>image</key>
		<string>clients</string>
		<key>isClient</key>
		<false/>
		<key>isVendor</key>
		<true/>
		<key>storyboard</key>
		<string>UserList</string>
		<key>class</key>
		<string>TQContactsViewController</string>
		<key>fontColor</key>
		<string>#cbd6ec</string>
	</dict>
	<dict>
		<key>badgeCount</key>
		<string>0</string>
		<key>name</key>
		<string>Vendors</string>
		<key>image</key>
		<string>clients</string>
		<key>isClient</key>
		<true/>
		<key>isVendor</key>
		<false/>
		<key>storyboard</key>
		<string>Main</string>
		<key>class</key>
		<string>TQUnderConstructionVC</string>
		<key>fontColor</key>
		<string>#cbd6ec</string>
	</dict>
	<dict>
		<key>badgeCount</key>
		<string>0</string>
		<key>name</key>
		<string>Leaderboard</string>
		<key>image</key>
		<string>leaderboard</string>
		<key>isClient</key>
		<false/>
		<key>isVendor</key>
		<true/>
		<key>storyboard</key>
		<string>Leaderboard</string>
		<key>class</key>
		<string>TQLeaderboardVC</string>
		<key>fontColor</key>
		<string>#404041</string>
	</dict>
	<dict>
		<key>badgeCount</key>
		<string>0</string>
		<key>name</key>
		<string>Reports</string>
		<key>image</key>
		<string>reports</string>
		<key>isClient</key>
		<false/>
		<key>isVendor</key>
		<true/>
		<key>storyboard</key>
		<string>Charts</string>
		<key>class</key>
		<string>TQReportsVC</string>
		<key>fontColor</key>
		<string>#404041</string>
	</dict>
	<dict>
		<key>badgeCount</key>
		<string>0</string>
		<key>name</key>
		<string>Feedback</string>
		<key>image</key>
		<string>reports</string>
		<key>isClient</key>
		<true/>
		<key>isVendor</key>
		<true/>
		<key>storyboard</key>
		<string>Other</string>
		<key>class</key>
		<string>TQFeedbackVC</string>
		<key>fontColor</key>
		<string>#404041</string>
	</dict>
	<dict>
		<key>badgeCount</key>
		<string>0</string>
		<key>name</key>
		<string>Profile</string>
		<key>image</key>
		<string></string>
		<key>isClient</key>
		<false/>
		<key>isVendor</key>
		<false/>
		<key>storyboard</key>
		<string>ProfilePage</string>
		<key>class</key>
		<string>TQProfilePageVC</string>
		<key>fontColor</key>
		<string></string>
	</dict>
	<dict>
		<key>badgeCount</key>
		<string>0</string>
		<key>name</key>
		<string>Settings</string>
		<key>image</key>
		<string></string>
		<key>isClient</key>
		<false/>
		<key>isVendor</key>
		<false/>
		<key>storyboard</key>
		<string>Settings</string>
		<key>class</key>
		<string>TQSettingsVC</string>
		<key>fontColor</key>
		<string></string>
	</dict>
</array>
</plist>
